*{
	text-align: center;
	color:white;
}
.menu{
	background-color: purple;
	height: 60px;
}
.header{
	height: 60px;
	background-color: #0e0e3d;
}
.hero{
	height: 300px;
}
.main{
	 height: 200px;
	 background-color: green;
}
.blank{
	 height: 200px;
}
 .image{
	height: 100px;
	background-color: black;
}
.extra{
	background-color: silver;
	height: 100px;

}
.banner{
	 background-color: yellow;
	 height: 100px;
}
@media screen and (min-width:767px) and (max-width:991px){
  .header{
		position:relative;
		top: 0px;
	}
	.menu{
		position: relative;
    top: 300px;
    height: 400px;
	}
	.hero{
		position:relative;
		top:-400px;
	}
	.main{
		position: relative;
	  left: 25%;
	  margin-top: -400px;
	}
	.image{
		position: relative;
	  top: -300px;
	  left: 75%;
	}
	.extra{
		position: relative;
		top:-300px;
	}
	.banner{
		position:relative;
		height: 100px;
	  left: 25%;
	  margin-top: -500px;
	}

}
